[Unit]
Description=Network Connectivity
DefaultDependencies=no
After=systemd-udev-settle.service network-pre.target local-fs.target sysinit.target
Before=network.target network-online.target multi-user.target shutdown.target
Wants=network.target
Conflicts=shutdown.target

[Service]
Type=forking
ExecStart=/etc/rc.d/init.d/network start
ExecStop=/etc/rc.d/init.d/network stop
TimeoutSec=2min
GuessMainPID=no
RemainAfterExit=yes
KillMode=process

[Install]
WantedBy=network-online.target multi-user.target
