[Unit]
Description=Network Connectivity
DefaultDependencies=no
After=systemd-udev-settle.service network-pre.target sysinit.target
Requires=sysinit.target
Before=network-online.target
Wants=network-online.target
Conflicts=shutdown.target

[Service]
Type=forking
ExecStart=/etc/rc.d/init.d/network start
ExecStop=/etc/rc.d/init.d/network stop
TimeoutSec=2min
GuessMainPID=no
RemainAfterExit=yes
KillMode=process

[Install]
WantedBy=network-online.target

